
@media (max-width: 1140px) {
	.container {
		max-width: 970px;
	}
}



/* iPad Pro */
@media (max-width: 1024px) {
	.container {
		max-width: none;
	}
}
/* iPad Pro */



@media (max-width: 992px) {
	.container {
		max-width: 750px;
		padding: 0 25px;
	}
}



/* Samsung Galaxy Tab 10 */
@media (max-width: 800px) {
	.container {
		max-width: none;
	}

	.reg_first_col{
		display: none;
	}

	.reg_second_col{
		width: 100%;
	}
}
/* Samsung Galaxy Tab 10 */



/* iPad 3 и 4-го поколения, iPad Air 1 и 2, iPad Mini 2 и 3,  iPad Mini */
@media (max-width: 768px) {
	.container {
		max-width: none;
	}
}
/* iPad 3 и 4-го поколения, iPad Air 1 и 2, iPad Mini 2 и 3,  iPad Mini */



/* Nexus 7 (2013) */
@media (max-width: 600px) {
	.container {
		max-width: none;
	}
}
/* Nexus 7 (2013) */



/* Samsung Galaxy Note 5, LG G5, One Plus 3 */
@media (max-width: 480px) {
	.container {
		max-width: none;
	}
}
/* Samsung Galaxy Note 5, LG G5, One Plus 3 */



/* iPhone XR, iPhone XS Max, iPhone 8 Plus, iPhone 7 Plus, iPhone 6 Plus/6S Plus */
@media (max-width: 414px) {
	.container {
		max-width: none;
	}
}
/* iPhone XR, iPhone XS Max, iPhone 8 Plus, iPhone 7 Plus, iPhone 6 Plus/6S Plus  */



/* iPhone XS, iPhone X, iPhone 8, iPhone 7, iPhone 6/6S */
@media (max-width: 375px) {
	.container {
		max-width: none;
	}
}
/* iPhone XS, iPhone X, iPhone 8, iPhone 7, iPhone 6/6S */



/* Samsung Galaxy Note 9, Samsung Galaxy S9+, Samsung Galaxy S9, Samsung Galaxy S8+, Samsung Galaxy S8, Samsung Galaxy S7 Edge, Samsung Galaxy S7 */
@media (max-width: 360px) {
	.container {
		max-width: none;
	}
}
/* Samsung Galaxy Note 9, Samsung Galaxy S9+, Samsung Galaxy S9, Samsung Galaxy S8+, Samsung Galaxy S8, Samsung Galaxy S7 Edge, Samsung Galaxy S7 */



/* iPhone 5, iPod Touch */
@media (max-width: 320px) {
	.container {
		max-width: none;
	}
}
/* iPhone 5, iPod Touch */
